[submodule "fwks/Nu"]
	path = fwks/Nu
	url = https://github.com/totoroyyb/Nu.git
	branch = dev
[submodule "fwks/grpc"]
	path = fwks/grpc
	url = https://github.com/totoroyyb/grpc-ddb.git
	branch = main
[submodule "fwks/weaver"]
	path = fwks/weaver
	url = https://github.com/hjzccc/weaver.git
	branch = weaver-exp
[submodule "fwks/socialnetwork"]
	path = fwks/socialnetwork
	url = https://github.com/USC-NSL/SocialNetwork-serviceweaver.git
	branch = main
[submodule "fwks/quicksand"]
	path = fwks/quicksand
	url = https://github.com/totoroyyb/quicksand-ddb.git
